<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <h2>IPL Insights App</h2>
    </nav>
    <div class="auth-wrapper">
        <div class="login-container">
            <h2>Login</h2>
            {% if success_message %}
            <h5 style="color: green;">{{success_message}}</h5>
            {% endif %}
            
            {% if error_message %}
            <h5 style="color: red;">{{error_message}}</h5>
            {% endif %}
            

            <form method="post" action="perform_login">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>

            <p class="register-link">
                Not a member?
                <a href="/register">Register now</a>
            </p>
        </div>
    </div>
    

</body>
</html>
